_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.gcov
patches/
.git-ignore/
.pc/
coverity/
coverage/
coverage.info
*.o
*.reject
*.orig
*.rej
*.so
*~
*.swp*
.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Testing/
./build
/build
.idea/
# Ignore Makefile in the stupid way for `tar --exclude-vcs-ignores`
/Makefile
./Makefile
src/Makefile
doc/Makefile
doc/*/Makefile
Doxyfile.API
RPM
*.src.rpm
*.i386.rpm
*.x86_64.rpm
tags
third_party/txt2c
cmake_install.cmake
config.mk
config.guess
config.sub
doc/doxygen
src/lua/*.lua.c
third_party/luajit/src/luajit
third_party/luajit/lib/vmdef.lua
third_party/luajit/src/buildvm
third_party/luajit/src/lj_bcdef.h
third_party/luajit/src/lj_ffdef.h
third_party/luajit/src/lj_folddef.h
third_party/luajit/src/lj_libdef.h
third_party/luajit/src/lj_recdef.h
third_party/luajit/src/lj_vm.s
third_party/Makefile
VERSION




# macOS files
.DS_Store
